

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <style>
      a.btn.btn-primary {
        float: right;
        margin: 0px 4px;
      }
      .update_form {
        text-align: center;
        padding: 3%;
        background-color: ghostwhite;
      }
      label {
        padding: 18px;
      }
    </style>

    <title>task</title>
  </head>
  <body>
    <section id="main">
      <div class="container">
        <div class="col-md-8 offset-md-2 col-sm-12 mt-5 border">
          <div class="update_form">
            <center class="row">
              <h1>Calculate the fair:</h1>
            </center>
            <form method="POST" class="mt-5" >
                {% csrf_token %}
                <label for="appt">Select the distance in km:</label>
                <input type="number"min="0" id="distance" name="distance"> 
                <label for="appt">Select a time:</label>
                <input type="time" id="appt" name="appt">
                {% for message in messages %}
    
                    <div class="alert alert-success">
                        {{ message }}
                    </div>

{% endfor %}
              <center>
                <input type="submit" value="Submit">
              </center>
            </form>
          </div>
        </div>
      </div>
    </section>

   
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    
  </body>
</html>
